streamlit
numpy
pandas
yfinance
matplotlib
pyportfolioopt
versioneer
statsmodels
scikit-learn
tabulate
openpyxl
fredapi
plotly
PyYAML
langchain
openai
wikipedia
tiktoken
altair
stqdm
ta
unstructured
pdf2image
pytesseract
python-magic
python-dotenv
Nasdaq-Data-Link
quandl
pyfolio
empyrical
